{% extends "Padam87BaseBundle::base.html.twig" %}

{% block title %}Search @ {{ parent() }}{% endblock %}

{% block sidebar %}

<ul class="google visible-desktop">
    <li>
        <a href="{{ path('padam87_search_default_index') }}">Products<br /> - Simple example</a>
    </li>
    <li>
        <a href="{{ path('padam87_search_default_orders') }}">Orders<br /> - Combining two forms to build a query</a>
        <ul>
            <li>
                <a href="{{ path('padam87_search_default_ordersbycollection') }}">By collection(OR)<br /> - Using collections for filtering directly</a>
            </li>
            <li>
                <a href="{{ path('padam87_search_default_ordersbycollectionand') }}">By collection(AND)</a>
            </li>
        </ul>
    </li>
</ul>

{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
{% endblock %}
