{% extends "Padam87SearchBundle::search.html.twig" %}

{% block content %}

<div class="row-fluid">
    <div class="span9">
        <table class="table table-consended table-list">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                </tr>
            </thead>
        {% for Product in products %}
            <tbody>
                <tr>
                    <td>{{ Product.getName() }}</td>
                    <td>{{ Product.getDescription() }}</td>
                    <td>{{ Product.getPrice() }}</td>
                </tr>
            </tbody>
        {% endfor %}
        </table>
    </div>
    <div class="span3">
        <form action="{{ path('padam87_search_default_index') }}" method="POST">
            {{ form_rest(form) }}
            <div class="form-actions">
                <button class="btn btn-primary" type="submit">Search</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block h1 %}
    Products
{% endblock %}
